<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>RESTORE</h1>
    <form action="create_restore" method="post">
      <p>Create restore</p>
      <select name="userId">
        <option value="1">test</option>
        <option value="2">tutu</option>
      </select>
      <select name="saveId">
        <option value="1">SaveId</option>
      </select>
      <input type="submit"/>
    </form>
    <form action="restore_start" method="post">
      <p>Update is_start</p>
      <input type="text" name="restoreId">
      <input type="submit"/>
    </form>
    <form action="restore_finish" method="post">
      <p>Update is_finish</p>
      <input type="text" name="restoreId">
      <input type="submit"/>
    </form>
    <form action="restore_success" method="post">
      <p>Update is_success</p>
      <input type="text" name="restoreId">
      <input type="submit"/>
    </form>
    <form action="get_history_restore" method="post">
      <p>Get History</p>
      <input type="submit"/>
    </form>
    <h1>SAVE</h1>
    <form action="create_save" method="post">
      <p>Create save</p>
      <select name="userId">
        <option value="1">admin</option>
      </select>
      <input type="date" name="dateProgSave"/>
      <input type="time" name="timeProgSave"/>
      <select name="repeatFrequenceSave">
        <option value="daily">daily</option>
        <option value="weekly">weekly</option>
        <option value="monthly">monthly</option>
        <option value="no">no repeat</option>
      </select>
      <input type="text" name="cron"/>
      <input type="text" name="files"/>
      <input type="submit"/>
    </form>
    <form action="save_start" method="post">
      <p>Update is_start</p>
      <input type="text" name="saveId">
      <input type="submit"/>
    </form>
    <form action="save_finish" method="post">
      <p>Update is_finish</p>
      <input type="text" name="saveId">
      <input type="text" name="saveScheduledId">
      <input type="submit"/>
    </form>
    <form action="save_success" method="post">
      <p>Update is_success</p>
      <input type="text" name="saveId">
      <input type="submit"/>
    </form>
    <form action="cancel_save" method="post">
      <p>Cancel save</p>
      <input type="text" name="saveScheduledId">
      <input type="submit"/>
    </form>
    <form action="get_history_save" method="post">
      <p>Get History</p>
      <input type="submit"/>
    </form>
    <% include ./flash %>
  </boddy>
</html>
