<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SAM-Solution | Index</title>
  </head>
  <body>
    <h1>SAM Solution - Alpha version</h1>
    <p>Go to the user manager <a href="/login-signup-poc.html">POC</a></p>
  </body>
</html>
