<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="launch_restore" method="post">
      <select name="userId">
        <option value="1">test</option>
        <option value="2">tutu</option>
      </select>
      <select name="saveId">
        <option value="2">fdfsd</option>
      </select>
      <input type="submit"/>
    </form>
    <form action="restore_is_start" method="post">
      <input type="text" name="restoreId">
      <input type="submit"/>
    </form>
  </boddy>
</html>
