.titre {
  margin:auto;
}

.logo {
  display: block;
  width: 400px;
  margin: auto;
}

.form {
  margin: auto!important;
}

::-webkit-inner-spin-button {
  position: relative;
  top: 7px;
}

.toolbar {
  margin-top: 20px;
  text-align: right;
}

.colLogin {
  float: none!important;
  margin: auto;
}

.forgottenLink {
  float: right;
  margin-top: -7px;
}
