body {
  overflow: visible;
}

.form {
  margin: auto!important;
}

::-webkit-inner-spin-button {
  position: relative;
  top: 7px;
}

.toolbar {
  margin-top: 20px;
  text-align: right;
}

.editUserName {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
}
