body {
  box-sizing: border-box;
  margin-top: 100px;
}

.appBlock {
  padding-left: 0px;
}

.pageWrapper {
  padding: 0;
  width: 100%;
}

.spinner {
  margin: auto;
  background-image: url('./logo_sam_solution.png');
}

td {
  vertical-align: middle!important;
}

@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }

  .appBlock {
    padding-left: 225px;
  }

  .pageWrapper {
    padding: 10px;
  }
}
