body {
  margin-top: 100px;
}

.appBlock {
  padding-left: 0px;
}

.pageWrapper {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }

  .appBlock {
    padding-left: 225px;
  }

  .pageWrapper {
    padding: 10px;
  }
}
