{
  "port": 8080,
  "dbConfig" : {
    "database": "circle_test",
    "username": "ubuntu",
    "password": "",
    "options": {
      "host": "localhost",
      "dialect": "mysql",
      "logging": false
    }
  },
  "debug": false,
  "secret": "mySuperCookieSecretKeyIMustUpdate",
  "salt": "anotherAwsomeKeyIMustUpdate"
}
