body {
  overflow: visible;
}

.form {
  margin: auto!important;
}

::-webkit-inner-spin-button {
  position: relative;
  top: 7px;
}

.button {
  font-weight: bold;
}

.label + span >  span {
  position: relative;
  left: 26px;
}
