.timepickerStyle {
    width: 100%;
    border-radius: 5px;
}

.timePart {
    position: relative;
    border-radius: 5px !important;
}

.hour {
    cursor: text;
}

.timeMenu {
    position: absolute;
    color: #9E9E9E;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 0.5em;
    padding: 6px 5px;
}

.plus {
    display: block;
    cursor: pointer;
}

.minus {
    display: block;
    cursor: pointer;
    margin-top: 5px;
    bottom: 0;
}

.plus:hover,
.minus:hover,
.remove:hover {
    color: #696969;
}

.selected {
    background-color: #1E90FF;
    color: white;
}

.remove {
    position: absolute;
    right: 15px;
    top: 13px;
    cursor: pointer;
    font-size: 0.5em;
    color: #9E9E9E;
}

.disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
