.timepickerStyle {
    width: 100%;
}

.timePart {
    position: relative;
}

.hour {
    cursor: text;
}

.timeMenu {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 0.5em;
    padding: 6px 5px;
}

.plus {
    display: block;
    cursor: pointer;
}

.minus {
    display: block;
    cursor: pointer;
    margin-top: 5px;
    bottom: 0;
}

.selected {
    background-color: #1E90FF;
    color: white;
}

.remove {
    cursor: pointer;
}