/*
** Navbar style
*/

.icon {
  margin-right: 10px;
  top: 2px;
}

.navbarStyle {
  border-radius: 0;
}

.navbarStyle > div[class='container'] {
  padding-left: 0;
  width: auto!important;
}

div[class='navbar-header'] > li {
  display: inline;
}

li[class='navbar-brand']  {
  margin-left: 50px!important;
}

li[class='navbar-brand'] > a {
  color: #9d9d9d;
}

li[class='navbar-brand'] > a:hover {
  color: white;
  text-decoration: none;
}

li[class='navbar-brand'] > a:focus,
li[class='navbar-brand'] > a:active,
li[class='navbar-brand'] > a:visited {
  text-decoration: none!important;
}

.navbarLogo {
  cursor: pointer;
  position: fixed;
  width: 65px;
  padding: 0;
}

li > a {
  background-color: transparent!important;
  background-image: none!important;
  box-shadow: none!important;
}

@media (min-width: 768px) {
  .navBarSideBar {
    max-height: none !important;
    position: fixed;
    top: 51px;
    left: 0px;
    width: 225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .navBarMenuItem {
    font-size: 1.1em;
    width: 225px;
  }
}

@media (max-width: 768px) {
  .navbarLogo {
    left: 0px;
  }
}
