/*
** NEW STYLE
*/

.navbarStyle {
  border-radius: 0;
}

.navbarLogo {
  position: fixed;
  width: 65px;
  left: 15px;
  padding: 0;
}

li > a {
  background-color: transparent!important;
  background-image: none!important;
  box-shadow: none!important;
}

@media (min-width: 768px) {

  .navBarRightButtonBlock {
    position: fixed;
    right: 15px;
  }

  .navbarStyle {
    height: 51px;
  }

  .navBarSideBar {
    max-height: none !important;
    position: fixed;
    top: 51px;
    left: 0px;
    width: 225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .navBarMenuItem {
    border-bottom: 1px solid black;
    font-size: 1.3em;
    float: none!important;
  }

  .navBarMenu {
    margin-top: 20%;
    width: 100%;
  }

  .collapse {
    padding: 0;
  }
}
@media (max-width: 768px) {

  .navbarLogo {
    left: 0px;
  }
}
