.tableLogsResults {
  background-color: #333333 !important;
  color: white !important;
}

.divTabLogsResults {
  overflow-y: auto;
  border-radius: 4px !important;
}

.trLogsResults:hover {
  background-color: #555555 !important;
}

.floatRight {
  float: right;
}

.dateLogsCol {
  width: 20%;
}

.dateLogsCol span {
  float: right !important;
  line-height: 1.4em;
}

.levelLogsCol {
  width: 15%;
}

.levelLogsCol span {
  float: right !important;
  line-height: 1.4em;
}

.moduleLogsCol {
  width: 15%;
}

.moduleLogsCol span {
  float: right !important;
  line-height: 1.4em;
}

.messageLogsCol {
  width: 50%;
}

.messageLogsCol span {
  float: right !important;
  line-height: 1.4em;
}

.logsResultSpinner {
  margin-top: 15px;
  margin: auto;
}
